
@mixin helvetica-neue-reg {
    font-family:HelveticaNeueLTStd-Roman, Arial, sans-serif;
    font-weight:100;
}
@mixin helvetica-neue-light {
    font-family:HelveticaNeueLTStd-Th, Arial, sans-serif;
    font-weight: 100;
}
@mixin helvetica-neue-bold {
     font-family: HelveticaNeueLTStd-Bd, Arial, sans-serif;
     font-weight: 100;
}
@mixin button {
    border: 2px solid $orange;
    background:$white;
    padding: 9px 25px 7px 10px;
    border-radius: 0px;
    color: $black;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-shadow:none;
    box-shadow:none;
    vertical-align: top;
    min-width: 100px;
    @include helvetica-neue-reg;
    position:relative;
    transition:all 50ms ease-in;

    &.back{
        padding: 10px 10px 8px 25px;
    }
    &.btn{
        padding:10px 10px 8px 10px;
    }
    &.fill{
        color:$white;
         &:after,
         &:before,
         &.back:after,
         &.back:before,
         &.cancel:after{
             color:$white;
         }
         &.dark{
             color:$black;
             &:after,
             &:before,
             &.back:after,
             &.back:before,
             &.cancel:after{
                 color:$black;
             }
         }
    }
   

    &:focus{
        outline: 0;
        border-color:$orange;
    }

    &:after,
    &:before,
    &.back:after,
    &.back:before,
    &.cancel:after{
         content: '›';
         color:$orange;
         position: absolute;
         display: block;
         font-size: 18px;
         font-family: 'Arial';
         font-weight: 100;
         top: 6px; 
         z-index: 2;
         transition:all 50ms ease-in;
    }
    &:after {
         right: 11px;
    }
    &:before{
         right: 6px;
    }

    &.back:after,
    &.back:before{
         top: 7px;
         transform:rotate(180deg);
         text-align: right;
    }

    &.back:after {
         left: 6px;
    }
    &.back:before{
         left: 11px;
    }

    &.cancel:after{
        content:'x';
    }
    &.cancel:before{
        content:'';
    }
    &.btn:after,
    &.btn:before{
        content:'';
    }

    &:hover,
    &:hover:before,
    &:hover:after,
    &.back:hover,
    &.back:hover:before,
    &.back:hover:after,
    &.cancel:hover:before,
    &.cancel:hover:after {
        color:$white;
    }
    &:hover{
        background: $orange;
    }
}
@mixin orangeButton{
     @include button;
     color:$black;
     border-color:$orange;
     &:focus{
         border-color:$orange;
     }

    &:after,
    &:before,
    &.back:after,
    &.back:before,
    &.cancel:after{
        color:$orange;
    }

    &:hover{
        background:$orange;
    }
   
    &.fill{
        background:$orange;
        &:hover{
            background:$darkOrange;
            border-color:$darkOrange;
        }
    }
}
@mixin redButton{
     @include button;
     color:$black;
     border-color:$red;
     &:focus{
         border-color:$red;
     }

    &:after,
    &:before,
    &.back:after,
    &.back:before,
    &.cancel:after{
        color:$red;
    }
    
    &:hover{
        background:$red;
    }

    &.fill{
        background:$red;
        &:hover{
            background:$darkRed;
            border-color:$darkRed;
        }
    }
}
@mixin greyButton{
     @include button;
     color:$black;
     border-color:$lightGrey;

     &:focus{
         border-color:$lightGrey;
     }

    &:after,
    &:before,
    &.back:after,
    &.back:before,
    &.cancel:after{
        color:$lightGrey;
    }

    &:hover{
        background:$lightGrey;
    }

    &.fill{
        background:$lightGrey;
        &:hover{
            background:$darkGrey;
            border-color:$darkGrey;
        }
    }
}
