.margin-top{margin-top:15px;}
.inline-block{display:inline-block! important;}
.block{display:block;}
.uppercase{text-transform:uppercase;}
.red{color:$red! important;}
.orange{color:$orange! important;}
.italic{font-style:italic;}
.black{color:$black! important;}