$grey: #464646;
$red: #e70025;
$darkRed:#ca0222;
$black: #000000;
$white:#ffffff;
$darkGrey:#a2a1a1;
$lightGrey:rgb(199, 199, 199);
$extraLightGrey:rgba(0,0,0,.1);
$orange: #ffb200;
$darkOrange:#eca501;

$helvetica-bold:"HelveticaNeueLTStd-Bd";
$helvetica-normal: "HelveticaNeueLTStd-Roman";
$helvetica-light:"HelveticaNeueLTStd-Th";